.ember-versions-form {
  /* Fallback styling for older browsers */
  select {
    appearance: auto;
  }

  /* Progressive enhancement for modern browsers */
  @supports (appearance: base-select) {
    select {
      appearance: base-select;
    }

    /* stylelint-disable selector-pseudo-element-no-unknown */
    select::picker(select) {
      appearance: base-select;
      background-color: var(--color-gray-100);
      margin-right: var(--spacing-6);
      margin-bottom: var(--spacing-1);
      border-radius: var(--radius);
    }

    select::picker-icon {
      transition: 150ms ease;
    }

    /* stylelint-disable selector-pseudo-class-no-unknown */
    select:open::picker-icon {
      rotate: 180deg;
    }

    select optgroup {
      display: flex;
      flex-flow: row wrap;
      gap: 0.5rem;
      padding: 0.5rem;
    }

    select optgroup legend {
      width: 100%;
    }

    select option {
      background-color: var(--color-button-secondary-bg);
      color: var(--color-button-secondary-text);

      &:hover {
        background-color: var(--color-button-secondary-bg-hover);
        color: var(--color-button-secondary-text-hover);
      }

      &.is-invalid {
        background-color: var(--color-gray-300);
        color: var(--color-gray-700);
        opacity: 0.65;
        text-decoration: line-through;

        &:hover {
          background-color: var(--color-gray-300);
          color: var(--color-gray-700);
        }
      }

      display: inline-block;
      padding: 0.25rem;
      border-radius: 0.25rem;
      align-content: center;
      cursor: pointer;
    }

    select option::checkmark {
      display: none;
    }

    select option:checked {
      background-color: var(--color-button-bg);
      color: var(--color-white);
    }

    select option:checked::checkmark {
      display: inline-block;
      color: var(--color-button-text);
    }
  }
}
